<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
  <h1 class="text-white text-center">ADMİN</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
  <div class="container">
    <ul class="navbar-nav text-uppercase ml-auto" style="display: block;">
      <li class="nav-item" style="float: left; margin-right: 40px;">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <li class="nav-item" style="float: left; margin-right: 40px;">
        <a class="nav-link" href="/">Categories</a>
      </li>
      <li class="nav-item" style="float: left; margin-right: 40px;">
        <a class="nav-link" href="/">Link 3</a>
      </li>
    </ul>
  </div>
</section>